:root {
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --text-rgb-81-97-68: rgba(81, 97, 68, 1);
  --text-rgb-68-72-64: rgba(68, 72, 64, 1);
  --text-rgb-144-76-48: rgba(144, 76, 48, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-30-27-24: rgba(30, 27, 24, 1);
  --text-rgb-57-75-61: rgba(57, 75, 61, 1);
  --text-rgb-248-239-234: rgba(248, 239, 234, 1);
}

.text-rgb-81-97-68 {
  color: var(--text-rgb-81-97-68);
}

.text-rgb-68-72-64 {
  color: var(--text-rgb-68-72-64);
}

.text-rgb-144-76-48 {
  color: var(--text-rgb-144-76-48);
}

.text-white {
  color: var(--text-white);
}

.text-rgb-30-27-24 {
  color: var(--text-rgb-30-27-24);
}

.text-rgb-57-75-61 {
  color: var(--text-rgb-57-75-61);
}

.text-rgb-248-239-234 {
  color: var(--text-rgb-248-239-234);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Prototype Links */
a.prototype-link {
  text-decoration: none;
  color: inherit;
  display: contents;
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.link-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.container-7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.link-10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 14.851572320265054%;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.link-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 15.56671309761661%;
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.link-14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 15.21643995019058%;
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.link-16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 14.30281109308053%;
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.link-18 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 12.040631787542283%;
}

.container-9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 542.3300170898438px;
  padding: 80px 64px 80px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  max-width: 1280px;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(251, 242, 237, 1);
}

.bg-glow-top-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(140px);
  fill: rgba(214, 233, 195, 0.250980406999588);
  border: none;
  outline: none;
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.2800000011920929px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.link-23 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2800000011920929px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-144-76-48);
}

.link-26 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 4px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 2px solid rgba(144, 76, 48, 1);
}

.text-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2800000011920929px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.link-margin-28 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 0px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2800000011920929px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.link-margin-30 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 0px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-25 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2800000011920929px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.button-32 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(81, 97, 68, 1);
  border-radius: 9999px;
}

.container-22 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 293.29998779296875px;
  padding: 8px 63.9900016784668px 8px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  max-width: 1280px;
}

.topnavbar-21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 248, 245, 1);
}

.bg-glow-bottom-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(120px);
  fill: rgba(255, 219, 206, 0.3333333432674408);
  border: none;
  outline: none;
}

.node-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
  width: 100%;
  height: auto;
}

.container-38 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.logo-row-37 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.699999988079071px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-81-97-68);
}

.eyebrow-42 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 12px 8px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 9999px;
}

.text-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -1.2000000476837158px;
  line-height: 68px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.text-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.text-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.primary-cta-47 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 18px 28px 18px 28px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
  background-color: rgba(81, 97, 68, 1);
  border-radius: 9999px;
}

.text-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.secondary-cta-49 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 18px 24px 18px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 9999px;
}

.cta-row-46 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.frame-52 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 14px 10px 14px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 9999px;
}

.text-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.frame-54 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 14px 10px 14px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 9999px;
}

.text-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.frame-56 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 14px 10px 14px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 9999px;
}

.trust-row-51 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.copy-column-41 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.hero-image-60 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  width: 100%;
  height: auto;
}

.text-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.image-badge-61 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 12px 8px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 9999px;
}

.text-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-27-24);
}

.text-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.image-footer-63 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.hero-image-card-59 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  backdrop-filter: blur(18px);
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.6000000238418579);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 28px;
}

.hero-visual-58 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.hero-content-40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 90%;
}

.hero-section-36 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  padding: 72px 64px 72px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 44px;
  letter-spacing: -0.800000011920929px;
  line-height: 52px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.heading-2-69 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.container-71 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.heading-block-68 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.image-75 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 86.95652173913044%;
  border-radius: 18px;
  width: 100%;
  height: auto;
}

.text-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.6000000238418579px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-81-97-68);
}

.badge-76 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 12px 8px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(214, 233, 195, 1);
  border-radius: 9999px;
}

.text-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-27-24);
}

.text-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.frame-78 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.feature-card-1-74 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  backdrop-filter: blur(16px);
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.7019608020782471);
  border: 1px solid rgba(233, 225, 220, 0.5);
  border-radius: 24px;
}

.image-82 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 86.95652173913044%;
  border-radius: 18px;
  width: 100%;
  height: auto;
}

.text-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.6000000238418579px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-144-76-48);
}

.badge-83 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 12px 8px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 219, 206, 1);
  border-radius: 9999px;
}

.text-86 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-27-24);
}

.text-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.frame-85 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.feature-card-2-81 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  backdrop-filter: blur(16px);
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.7019608020782471);
  border: 1px solid rgba(233, 225, 220, 0.5);
  border-radius: 24px;
}

.image-89 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 86.95652173913044%;
  border-radius: 18px;
  width: 100%;
  height: auto;
}

.text-91 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.6000000238418579px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-81-97-68);
}

.badge-90 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 12px 8px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(239, 230, 226, 1);
  border-radius: 9999px;
}

.text-93 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-27-24);
}

.text-94 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.frame-92 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.feature-card-3-88 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  backdrop-filter: blur(16px);
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.7019608020782471);
  border: 1px solid rgba(233, 225, 220, 0.5);
  border-radius: 24px;
}

.feature-cards-73 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-67 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-66 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  padding: 72px 64px 72px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(251, 242, 237, 1);
}

.text-99 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 44px;
  letter-spacing: -0.800000011920929px;
  line-height: 52px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.heading-2-98 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-100 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.icon-104 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(144, 76, 48, 1);
  border: none;
  outline: none;
}

.margin-103 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 16px 0px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-106 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-27-24);
}

.text-107 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.container-105 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.item-102 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 16px;
}

.icon-110 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(144, 76, 48, 1);
  border: none;
  outline: none;
}

.margin-109 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 16px 0px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-112 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-27-24);
}

.text-113 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.container-111 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.item-108 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 16px;
}

.icon-116 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(144, 76, 48, 1);
  border: none;
  outline: none;
}

.margin-115 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 16px 0px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-118 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-27-24);
}

.text-119 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.container-117 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.item-114 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.800000011920929);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 16px;
}

.list-101 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.left-column-97 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.preview-image-122 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 92.6829268292683%;
  border-radius: 18px;
  width: 100%;
  height: auto;
}

.text-126 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.background-border-125 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 31.57894736842105%;
  background-color: rgba(214, 233, 195, 1);
  border: 2px solid rgba(81, 97, 68, 1);
  border-radius: 9999px;
}

.text-129 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2800000011920929px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-30-27-24);
}

.container-128 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-131 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.47999998927116394px;
  line-height: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.container-130 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-127 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-124 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-134 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: right;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2800000011920929px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.container-133 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-137 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(144, 76, 48, 1);
  border: none;
  outline: none;
}

.container-136 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-138 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: right;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.47999998927116394px;
  line-height: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.container-135 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-132 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.helper-card-123 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 182.52999877929688px;
  padding: 0px 0px 16px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  border-bottom: 1px solid rgba(233, 225, 220, 1);
}

.background-140 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(239, 230, 226, 1);
  border-radius: 4px;
}

.background-141 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(239, 230, 226, 1);
  border-radius: 4px;
}

.container-139 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-143 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.text-145 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-57-75-61);
}

.background-144 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6px 12px 6px 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(211, 232, 213, 1);
  border-radius: 9999px;
}

.preview-footer-142 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.background-border-121 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  backdrop-filter: blur(18px);
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 0.7019608020782471);
  border: 1px solid rgba(233, 225, 220, 0.5);
  border-radius: 24px;
}

.preview-column-120 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-96 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 90%;
}

.node-95 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 72px 64px 72px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-150 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(81, 97, 68, 1);
  border: none;
  outline: none;
}

.container-149 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-152 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 44px;
  letter-spacing: -0.800000011920929px;
  line-height: 52px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-81-97-68);
}

.heading-2-151 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-154 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-68-72-64);
}

.container-153 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-158 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(248, 239, 234, 1);
  border: none;
  outline: none;
}

.container-157 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-161 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-248-239-234);
}

.container-160 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.800000011920929;
}

.text-163 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-248-239-234);
}

.container-162 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-159 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.button-156 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 24px 16px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(52, 48, 44, 1);
  border-radius: 12px;
}

.icon-166 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(248, 239, 234, 1);
  border: none;
  outline: none;
}

.container-165 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-169 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-248-239-234);
}

.container-168 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.800000011920929;
}

.text-171 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-248-239-234);
}

.container-170 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-167 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.button-164 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 24px 16px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(52, 48, 44, 1);
  border-radius: 12px;
}

.container-155 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.copy-column-148 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.app-visual-172 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 54.166666666666664%;
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.5);
  border: 1px solid rgba(233, 225, 220, 0.501960813999176);
  border-radius: 24px;
  width: 100%;
  height: auto;
}

.container-147 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 90%;
}

.app-store-section-146 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 72px 64px 72px 64px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(239, 230, 226, 1);
}

.main-35 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.html-body-1 {
@media (max-width: 1440px) {
  .html-body-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .html-body-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 248, 245, 1);
}
